<header class="header-home">
    <div class="logo">
        <h1>Najpiękniejsze Miejsca Świata</h1>
    </div>

    <nav>
        <ul>
            <li><a href="index.php">Strona główna</a></li>
            <li><a href="index.php?idp=about">O projekcie</a></li>
            <li><a href="index.php?idp=continents">Kontynenty</a></li>
            <li><a href="index.php?idp=gallery">Galeria</a></li>
            <li><a href="index.php?idp=contact">Kontakt</a></li>
            <li><a href="index.php?idp=filmy">Filmy</a></li>

        </ul>
    </nav>
</header>
