<header class="header-sub">
    <div class="logo">
        <h2>Najpiękniejsze Miejsca Świata</h2>
    </div>

    <nav>
        <ul>
            <li><a href="index.php?idp=glowna">Strona główna</a></li>
            <li><a href="index.php?idp=about">O projekcie</a></li>
            <li><a href="index.php?idp=continents">Kontynenty</a></li>
            <li><a href="index.php?idp=gallery">Galeria</a></li>
            <li><a href="index.php?idp=contact">Kontakt</a></li>
            <li><a href="index.php?idp=filmy">Filmy</a></li>
        </ul>
    </nav>

    <div class="clock-date-wrapper">
        <span id="zegarek"></span> | <span id="data"></span>
    </div>
</header>
