<header class="header-sub">
    <div class="logo">
        <h2>Najpiękniejsze Miejsca Świata</h2>
    </div>

    <nav>
        <ul>
            <li><a href="index.html">Strona główna</a></li>
            <li><a href="about.html">O projekcie</a></li>
            <li><a href="continents.html">Kontynenty</a></li>
            <li><a href="gallery.html">Galeria</a></li>
            <li><a href="contact.html">Kontakt</a></li>
        </ul>
    </nav>

    <div class="clock-date-wrapper">
        <span id="zegarek"></span> | <span id="data"></span>
    </div>
</header>
