<div class="bg-change">
    <p>Zmień kolor tła:</p>
    <button onclick="changeBackground('#FFFFFF')">Biały</button>
    <button onclick="changeBackground('#C0C0C0')">Szary</button>
    <button onclick="changeBackground('#000000')">Czarny</button>
    <button onclick="changeBackground('#00A0FF')">Niebieski</button>
    <button onclick="changeBackground('#00FF88')">Zielony</button>
    <button onclick="changeBackground('#FFCC00')">Żółty</button>
    <button onclick="changeBackground('#FF0000')">Czerwony</button>
</div>
